nav ul {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    margin: 0 auto;
    
}

nav li{
    list-style-type: none;
    padding: 20px 50px;
    display: none;
}

@media screen and (min-width: 900px) {
    nav ul{
        flex-direction: row;
    }
}