@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Cormorant+SC:wght@500&family=Quicksand&family=Roboto+Slab:wght@300&display=swap');

h1,h2,h3{
    font-family: 'Cormorant SC', serif;
}

p, a{
    font-family: 'Quicksand', sans-serif;
}
header{
    background-color: white;
    

}
.logodiv{
    max-width: 400px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    
}


.pagelogo{
    margin:0 auto;
    /* height: 200px; */
    /* width: 200px; */
    
}

nav{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    background-color: #268BCF;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
}

nav ul {
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 0px;
    
    
}

nav ul li a{
    display: block;
    padding: .8rem 2.5vw;
    text-decoration: none;
    color: white;
    
}

#homemain{
    

}

#calltoaction{
    position: relative;
}

#calltoactionbox{
    position: absolute;
    top: 50%;
    left: 15%;
    width: 17%;
    text-align: center;
    color: black;
    background-color: white;
    opacity: .9;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.9);
    border-radius: 10px 10px 10px 10px;
    padding: 15px;
    transition: all 0.5s ease-out;
}

#calltoactionbox:hover{
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
}

#calltoactionbox p{
    margin: 0;
    font-weight: bolder;
}

#calltoaction img{
    border-top: 5px solid #F8D53A;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
    width: 100%;
}

#maintempdiv{
    padding: 10px;
    text-align: center;
    background-color: whitesmoke;
}

.maintempdivbanner h2{
    text-align: center;
    font-size: xxx-large;
    margin-bottom: 0px;
}

.maintempdivbanner p{
    margin-top:0px;
    letter-spacing: 1vw;
}

.maintempdivbanner input{
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: larger;
    font-family: 'Quicksand', sans-serif;
    width: 300px;
    height: 44px;
    
}

#maintempdivcontent{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

#weathercards{
    display: none;
    max-width: 600px;
    margin: auto;
    margin-top: 5rem;
}

#weathercards img{
    width: 100px;
    display: block;
    margin: auto;
}

.card{
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(251, 249, 249, 0.958);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    
}

.card img{
    width: 300px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);

}

iframe{
    margin: 20px auto 10px auto;
    /* text-align: center; */
    display: block;
    width: 900px;
    height: 200px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);

}
.icons{
    border-radius: 100%;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
}

#footerinfo{
    padding: 10px;
    margin: 0 auto;
    display: flex;
    background-color: #268BCF;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
    justify-content: space-around;
    text-align: center;
}

#footerinfo a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: large;
}

/* Temple Page */

#tempmain{
    margin: 0 auto;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#tempmain .card{
    width: 95%;
    
}

#tempmain .card img{
    width: 500px;
    float: left;
    margin: 10px;
}

#tempmain #emoji{
    width: 50px;
    box-shadow: none;
    /* position: absolute; */
    bottom: 10px;
    background-color: pink;
}

/* Reservation-Page */

form{
    margin: 20px auto;
    max-width: 500px;
    padding: 10px;
    background-color: rgba(251, 249, 249, 0.958);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    font-family: "Quicksand";
}

legend{
    padding: 10px;
}

fieldset{
    padding-left: 50px;
}

form label{
    display: block;
    padding: 10px 0px 2px;
}

form input{
    height: 34px;
    border-radius: 5px;
    padding: 5px;
}

#submit-button{
    margin:10px auto;
    display: block;
    width: 100px;
    background-color: #268BCF;
    color: #fff;
    font-weight: bolder;

}

#thanksmain{
    text-align: center;
    margin: 300px auto;

}

/* Services Page */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 50px auto;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  background-color:#f2f2f2;
  color: rgb(14, 14, 14);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  background-color: rgba(251, 249, 249, 0.8);
  font-size:xx-large;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#service-mainsection{
    text-align: center;
    margin: 30px auto;
    max-width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f2f2f2;
    gap: 10px;

}

#service-mainsection li{
    list-style-type: none;

}
