@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Roboto+Slab:wght@300&display=swap');

body {
    max-width:800px;
    margin: 0 auto;
    justify-content: center;
}

header{
    display: grid;
    background-color: orange;
    padding: 15px 50px 10px 50px;
    border-radius: 20px 20px 20px 20px;
    margin-top: 100px;
    box-shadow: 3px 3px 50px darkgray;
    align-items: center;
    justify-items: center;
    
}


header img {
    max-width: 150px;
    border-radius: 10px 10px 10px 10px;
    grid-column-start: 1;
    grid-row-start: 1;
    box-shadow: 3px 3px 30px darkgray;
    
}

header h1{
    font-family: "Roboto Slab", serif;
    display: block;
    grid-column-start: 2;
    grid-row-start: 1;
    align-content: center;
    
}

main {
    font-family: "Barlow Semi Condensed", sans-serif;
    max-width: 700px;
    margin: 0 auto;

}

main h2 {
    border-bottom: solid black 2px;
}

main p {
    border-top: solid black 2px;
}

footer {
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: orange;
    padding: 15px 50px 10px 50px;
    border-radius: 20px 20px 20px 20px;
    margin-top: 20px;
    box-shadow: 3px 3px 50px darkgray;
    align-items: center;
    justify-items: center;
    


}

